.App {
  text-align: center;
}
.vh-89 {
  height: 84.389vh;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.mobilePrompt{
  display: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.t-40 {
  top: 40%;
}
.z-index-n2 {
  z-index: -2;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}